"""Updated requirements with necessary async libraries for production.
"""

python>=3.12

# core
pydantic
SQLAlchemy[asyncio]
asyncpg
aiohttp
pyrogram
colorama
python-dotenv

# Optional / dev
alembic
pytest
aioredis
